refresh_token = ""
url = ""
insecure =
api_token = ""
data_collector_name = ""
nsx_hostname = ""
sddc_name = ""
vcenter_hostname = ""
vcenter_password = ""
vcenter_username = ""
region_name = ""
external_region_id = ""
user_email = ""
fabric_network_name = ""
fabric_datastore_name = ""
